<body>
<h1>{{appTitle}}</h1>
<p>News for everyone!</p>
<button id="login" class="button"><a href="/auth/login">login</a></button>
<button id="logout" class="button"><a href="/auth/logout">logout</a></button>
<button id="signup" class="button"><a href="/auth/signup">signup</a></button>

</body>