<div id="publish-news-form">
  <h2>Publish News</h2>
  <form action="/admin/publish-news" method="POST">
    <label> Title
      <input type="text" name="title" placeholder="Title of the news" />
    </label>

    <label> Content
      <textarea name="content" placeholder="Content of the news"></textarea>
    </label>

    <label> Section
      <input type="text" name="section" placeholder="Section of the news" />
    </label>

    <button type="submit">Publish</button>
  </form>
</div>