<body class="index-page">
<h1>{{appTitle}}</h1>            
<p>News for everyone!</p>

 {{#if isAdmin}}
    <p>Logged in as an admin.</p>
  {{else}}
    <p>Logged in as a user.</p>

  {{/if}}
  {{#if isAdmin}}
    <a href="/admin/publish-news">Publish News</a>
  {{/if}}
  
<button id="login" class="button"><a href="/auth/login">login</a></button>
<button id="logout" class="button"><a href="/auth/logout">logout</a></button>
<button id="signup" class="button"><a href="/auth/signup">signup</a></button>

<div class="navbar">
    <img src="./images/3749906.jpg"  alt="Logo">
    
    <a href="Health">Health</a>
    <a href="Sports">Sports</a>
    <a href="Science">Science</a>
    <a href="Economy">Economy</a>
    <a href="Politics">Politics</a>
    <a href="articles/international">International</a>
  </div>
  
  <div class="contenido">
   
  </div>

</body>